*{
  margin: 0;
  padding: 0;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .home {
    background-color: whitesmoke;
    color: red;
  }

  table {
    height: 80%;
    padding: 2%;
  }

  .mat-mdc-cell, .mat-mdc-header-cell {
    text-align: center;
  }

  li {
    list-style: none;
    text-transform: uppercase;
    padding: 2% 0;
    margin-left: -25px;
  }

  .mat-mdc-header-row {
    background-color: red;
    color: whitesmoke
  }