<div class="title">
    <h1>Pokédex</h1>
</div>

<div class="mat-elevation-z8">
    <table class="table" mat-table [dataSource]="pokeList.pokeArr">
      <ng-container matColumnDef="Imagem">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><img class="pokeImg" src={{element.img}} alt="pokeImg"></td>
      </ng-container>

      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td class="name" mat-cell *matCellDef="let element"> {{element.name.toUpperCase()}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Botao">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" ><button (click)="redirect(element.id)" mat-raised-button color="warn">Ver detalhes</button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  